* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: #e5e5e5;
  line-height: 1.6; /* Interlineado global */
}

header {
  position: relative;
  height: 200px;
  overflow: hidden;
}
/* Menu lateral de la pagina */
.side-menu {
  position: fixed;
  top: 0; /* Pegado al borde superior */
  left: 0; /* Pegado al borde izquierdo */
  display: flex;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  gap: 30px;
  font-family: sans-serif;
  z-index: 1000;
  letter-spacing: 3px;
  padding: 0 20px;
  background: transparent;
}
/* Etiquetas "a" del menu lateral */
.side-menu a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .side-menu {
    transform: rotate(0deg) translateX(0);
    flex-direction: column;
    top: 0;
    left: 0;
    height: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
  }
}
/* Titulos de las secciones de la pagina */
.box-title {
  position: relative;
  min-height: 120vh; /* altura de cada sección */
}

.title-section {
  position: sticky;
  top: 0px; /* distancia desde arriba */
  text-align: right;
  margin-right: 50px;

  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 70px;
  letter-spacing: 3px;
}

.nombre {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ← clave */
  padding: 0px 100px; /* margen lateral */
  color: white;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 30px;
}

/* Navegación */
nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  transition: 0.3s;
}

a:hover {
  color: #9147ff;
}

.content-box {
  background-color: black;
  padding: 0px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

img {
  max-width: 100%;
  height: auto;
}

.productor {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 18px;
  color: white;
}

.informacion {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.informacion p {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
.portada {
  width: 50%;
  height: 50%;
  margin-bottom: 10vh;
}

.bio,
.enlace,
.titulo-secundario {
  max-width: 800px; /* Limita ancho para mejor lectura */
  margin-top: 40px;
  padding: 0px 100px;
  font-size: 16px; /* Tamaño estándar web */
  line-height: 1.7; /* Interlineado agradable */
  margin-bottom: 20px; /* Espacio entre párrafos */
  color: #d0d0d0;
}

.titulo-secundario {
  margin-bottom: 20vh;
  margin-top: 20vh;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
.bio p {
  font-size: 18px;
  line-height: 1.8;
}
